<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <script src="/common/common.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row" id="app">
            <div class="layui-form">
                <div class="layui-form-item">
                    <label for="L_email" class="layui-form-label">
                        <span class="x-red">*</span>账号</label>
                    <div class="layui-input-inline">
                        <input type="text" required="" v-model="entity.username" lay-verify="username"
                            autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <span class="x-red">*</span>将会成为您唯一的登入名
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_username" class="layui-form-label">
                        <span class="x-red">*</span>昵称</label>
                    <div class="layui-input-inline">
                        <input type="text" lay-verify="userfullname" autocomplete="off" class="layui-input"
                            v-model="entity.userfullname">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_pass" class="layui-form-label">
                        <span class="x-red">*</span>密码</label>
                    <div class="layui-input-inline">
                        <input type="password" lay-verify="Password" autocomplete="off" class="layui-input"
                            v-model="entity.password">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_pass" class="layui-form-label">
                        <span class="x-red">*</span>权限组</label>
                    <div class="layui-input-inline">
                        <select v-model="entity.authorityid" lay-filter="select" lay-verify="authorityname">
                            <option :value="item.id" v-for="(item, index) in jurisdictionList" :key="index">{{item.authorityname}}</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label"></label>
                    <button class="layui-btn" lay-submit lay-filter="submit" @click="submit()">提交</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                entity: QiFan.getParameterNames() ? QiFan.getParameterNames() : {
                    username: "",
                    userfullname: "",
                    password: "",
                },
                jurisdictionList: [],
            },
            watch: {},
            filters: {},
            beforeCreate() { thar = this; },
            created() {
                layui.use(['form', 'layer'], function () {
                    form = layui.form;
                    form.on('select(select)', (data) => {
                        thar.$set(thar.$data.entity, 'authorityid', data.value)
                    })
                });
                this.init();
            },
            mounted() {
            },
            updated() { this.$nextTick(() => { }) },
            methods: {
                init: function () {
                    axiosGet("/authority/getList").then((res) => {
                        if (res.data.result && res.data.result.list) {
                            this.$set(this.$data, 'jurisdictionList', res.data.result.list)
                        }
                    })
                },
                submit: function () {
                    form.verify({ //验证表单
                        userfullname: function (d) {
                            if (d == "") { return "昵称不能为空" }
                            if (d.indexOf(' ') != -1) { return "昵称不能输入空格" }
                        },
                        username: function (d) {
                            if (d == "") { return "账号不能为空" }
                            if (d.indexOf(' ') != -1) { return "账号不能输入空格" }
                        },
                        password: function (d) {
                            if (d == "") { return "密码不能为空" }
                            if (d.indexOf(' ') != -1) { return "密码不能输入空格" }
                        },
                        authorityname: function (d) {
                            if (d == "" || d == null || d == undefined) { return "请选择权限组" }
                        },
                    });
                    form.on('submit(submit)', (data) => {  //提交表单
                        QiFan.onLoading();
                        axiosPost("/user/save", this.entity).then((response) => {
                            if (response.data.retcode == 200) {
                                setTimeout(() => {
                                    QiFan.offLoading();
                                    QiFan.RF("init")
                                    top.layer.msg("提交成功")
                                    QiFan.CL()
                                }, 2000);
                                return false
                            }
                            layer.msg(response.data.retmsg, { icon: 2 });
                            QiFan.offLoading();
                        })
                        return false;
                    });
                }

            },
        })
    </script>
</body>

</html>