<!doctype html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>后台登录-X-admin2.2</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <script src="/common/common.js"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <script>
            // 是否开启刷新记忆tab功能
            // var is_remember = false;
    </script>
</head>

<body class="index">
    <!-- 顶部开始 -->
    <div id="app">
        <div class="container">
            <div class="logo">
                <a href="./index.html">
                    <img src="/images/logo.png" alt="" height="40" style="margin-right: 5px;">
                    启帆管理系统
                </a>
            </div>
            <div class="left_open">
                <a><i title="展开左侧栏" class="layui-icon layui-icon-shrink-right"></i></a>
            </div>

            <ul class="layui-nav right" lay-filter="">
                <li class="layui-nav-item" lay-unselect="">
                    <a href="javascript:;" onclick="location.reload()"><i class="iconfont">&#xe6aa;</i></a>
                </li>
                <li class="layui-nav-item" lay-unselect="">
                    <a href="javascript:;" data-clear="清理" class="layuimini-clear" data-href="api/clear.json"><i
                            class="iconfont">&#xe69d;</i></a>
                </li>
                <li class="layui-nav-item mobile layui-hide-xs" lay-unselect="">
                    <a href="javascript:;" data-check-screen="full"><i
                            class="layui-icon layui-icon-screen-full"></i></a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">{{userinfo.userfullname}}</a>
                    <dl class="layui-nav-child">
                        <!-- 二级菜单 -->
                        <dd>
                            <a @click="open('个人信息','http://www.baidu.com')">个人信息</a>
                        </dd>
                        <dd>
                            <a @click="open('切换帐号','http://www.baidu.com')">切换帐号</a>
                        </dd>
                        <dd>
                            <a href="./login.html">退出</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item to-index">
                    <a href="/">前台首页</a>
                </li>
            </ul>
        </div>
        <!-- 顶部结束 -->
        <!-- 中部开始 -->
        <!-- 左侧菜单开始 -->
        <div class="left-nav">
            <div id="side-nav">
                <ul id="nav">

                    <li v-for="(item, index) in list" :key="index">
                        <a  @click="item.children?'':add_tab(item.name,item.url)">
                            <i class="iconfont left-nav-li layui-icon" v-html="item.left_icon"></i>
                            <cite>{{item.name}}</cite>
                            <i class="iconfont nav_right" v-html="item.right_icon" v-if="item.children"></i></a>
                        <ul class="sub-menu" v-if="item.children">
                            <li v-for="(items, index) in item.children" :key="index">
                                <a @click="add_tab(items.name,items.url)">
                                    <i class="iconfont" v-html="items.left_icon"></i>
                                    <cite>{{items.name}}</cite></a>
                            </li>
                        </ul>
                    </li>
                    <!-- <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li">&#xe6b8;</i>
                            <cite>字段模板管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a @click="add_tab('模板列表','/insidePage/templatePages/template-list.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>模板列表</cite></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li">&#xe6b8;</i>
                            <cite>权限管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a @click="add_tab('权限管理','/insidePage/jurisdictionPages/jurisdiction-list.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>权限列表</cite></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li">&#xe6b8;</i>
                            <cite>供应商管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a @click="add_tab('供应商管理','/insidePage/supplierPages/supplier-list.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>供应商列表</cite></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li">&#xe6b8;</i>
                            <cite>物料分类管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a @click="add_tab('模板列表','/insidePage/jurisdictionPages/jurisdiction-list.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>物料分类列表</cite></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li">&#xe6b8;</i>
                            <cite>物料管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a @click="add_tab('模板列表','/insidePage/jurisdictionPages/jurisdiction-list.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>物料列表</cite></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li">&#xe6b8;</i>
                            <cite>采购管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a @click="add_tab('模板列表','/insidePage/jurisdictionPages/jurisdiction-list.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>采购列表</cite></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li">&#xe6b8;</i>
                            <cite>报表统计</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a @click="add_tab('模板列表','/insidePage/jurisdictionPages/jurisdiction-list.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>报表列表</cite></a>
                            </li>
                        </ul>
                    </li> -->
                </ul>
            </div>
        </div>
        <div class="x-slide_left"></div>
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">
            <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
                <ul class="layui-tab-title">
                    <li class="home">
                        <i class="layui-icon">&#xe68e;</i>我的桌面
                    </li>
                </ul>
                <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
                    <dl>
                        <dd data-type="this">关闭当前</dd>
                        <dd data-type="other">关闭其它</dd>
                        <dd data-type="all">关闭全部</dd>
                    </dl>
                </div>
                <div class="layui-tab-content" id="frameName">
                    <div class="layui-tab-item layui-show">
                        <iframe src='/insidePage/welcome.html' frameborder="0" scrolling="yes"
                            class="x-iframe"></iframe>
                    </div>
                </div>
                <div id="tab_show"></div>
            </div>
        </div>
        <div class="page-content-bg"></div>
    </div>
    <script>
        new Vue({
            el: "#app",
            data: {
                userinfo: localStorage["userinfo"] ? JSON.parse(localStorage["userinfo"]) : {},
                currentTime: QiFan.formatTime(new Date()),
                list: [],
            },
            watch: {},
            filters: {},
            beforeCreate() { thar = this },
            created() {
                this.init();
            },
            mounted() {
                this.toggleElem()
            },
            updated() { this.$nextTick(() => { }) },
            methods: {
                init: function () {
                    axiosGet("/json/menu.json", '', true).then((res) => {
                        if (res.data && res.data.data) {
                            this.$set(this.$data, "list", res.data.data)

                        }
                    })
                },
                toggleElem: function () {   //tab切换
                    $(".layui-tab-title").on('contextmenu', 'li', function (event) {
                        var tab_left = $(this).position().left;
                        var tab_width = $(this).width();
                        var left = $(this).position().top;
                        var this_index = $(this).attr('lay-id');
                        $('#tab_right').css({ 'left': tab_left + tab_width / 2 }).show().attr('lay-id', this_index);
                        $('#tab_show').show();
                        return false;
                    });
                    $('#tab_right').on('click', 'dd', function (event) { //tab右击
                        var data_type = $(this).attr('data-type');
                        var lay_id = $(this).parents('#tab_right').attr('lay-id');
                        if (data_type == 'this') {
                            $('.layui-tab-title li[lay-id=' + lay_id + ']').find('.layui-tab-close').click();
                        } else if (data_type == 'other') {
                            $('.layui-tab-title li').eq(0).find('.layui-tab-close').remove();
                            $('.layui-tab-title li[lay-id!=' + lay_id + ']').find('.layui-tab-close').click();
                        } else if (data_type == 'all') {
                            $('.layui-tab-title li[lay-id]').find('.layui-tab-close').click();
                        }
                        $('#tab_right').hide();
                        $('#tab_show').hide();
                    })
                    // -------------------------
                    layui.use(['layer', 'element', 'jquery'], function () {
                        layer = layui.layer;
                        element = layui.element;
                        $ = layui.jquery;
                        // 打开页面初始
                        var tab_list = thar.get_data();
                        for (var i in tab_list) {
                            thar.add_lay_tab(tab_list[i].title, tab_list[i].url, i);
                        }
                        element.tabChange('xbs_tab', i);


                        //关闭tab清除记忆
                        element.on('tabDelete(xbs_tab)', function (data) {
                            var id = $(this).parent().attr('lay-id');
                            thar.del_data(id);
                        });
                        //左侧菜单
                        $('.left-nav #nav').on('click', 'li', function (event) {
                            if ($(this).parent().attr('id') == 'nav') {
                                thar.set_cate_data({ key: 'f1', value: $('.left-nav #nav li').index($(this)) })
                                thar.set_cate_data({ key: 'f2', value: null })
                                thar.set_cate_data({ key: 'f3', value: null })
                            }

                            if ($(this).parent().parent().parent().attr('id') == 'nav') {
                                thar.set_cate_data({ key: 'f2', value: $('.left-nav #nav li').index($(this)) })
                                thar.set_cate_data({ key: 'f3', value: null })
                            }

                            if ($(this).parent().parent().parent().parent().parent().attr('id') == 'nav') {
                                thar.set_cate_data({ key: 'f3', value: $('.left-nav #nav li').index($(this)) })
                            }



                            if ($('.left-nav').css('width') == '60px') {
                                $('.left-nav').animate({ width: '220px' }, 100);
                                $('.page-content').animate({ left: '220px' }, 100);
                                $('.left-nav i').css('font-size', '14px');
                                $('.left-nav cite,.left-nav .nav_right').show();
                            }

                            if ($(window).width() < 768) {
                                $('.page-content-bg').show();
                            }

                            $('.left-nav').find('a').removeClass('active');
                            $(this).children('a').addClass('active');
                            if ($(this).children('.sub-menu').length) {
                                if ($(this).hasClass('open')) {
                                    $(this).removeClass('open');
                                    $(this).find('.nav_right').html('&#xe697;');
                                    $(this).children('.sub-menu').stop(true, true).slideUp();
                                    $(this).siblings().children('.sub-menu').slideUp();
                                } else {
                                    $(this).addClass('open');
                                    $(this).children('a').find('.nav_right').html('&#xe6a6;');
                                    $(this).children('.sub-menu').stop(true, true).slideDown();
                                    $(this).siblings().children('.sub-menu').stop(true, true).slideUp();
                                    $(this).siblings().find('.nav_right').html('&#xe697;');
                                    $(this).siblings().removeClass('open');
                                }
                            }
                            event.stopPropagation();
                        })
                        var left_tips_index = null;
                        $('.left-nav #nav').on('mouseenter', '.left-nav-li', function (event) {
                            if ($('.left-nav').css('width') != '220px') {
                                var tips = $(this).attr('lay-tips');
                                left_tips_index = layer.tips(tips, $(this));
                            }
                        })

                        $('.left-nav #nav').on('mouseout', '.left-nav-li', function (event) {
                            layer.close(left_tips_index);
                        })
                        // 隐藏左侧
                        $('.container .left_open i').click(function (event) {
                            if ($('.left-nav').css('width') == '220px') {
                                $('.left-nav .open').click();
                                $('.left-nav i').css('font-size', '18px');
                                $('.left-nav').animate({ width: '60px' }, 100);
                                $('.left-nav cite,.left-nav .nav_right').hide();
                                $('.page-content').animate({ left: '60px' }, 100);
                                $('.page-content-bg').hide();
                            } else {
                                $('.left-nav').animate({ width: '220px' }, 100);
                                $('.page-content').animate({ left: '220px' }, 100);
                                $('.left-nav i').css('font-size', '14px');
                                $('.left-nav cite,.left-nav .nav_right').show();
                                if ($(window).width() < 768) {
                                    $('.page-content-bg').show();
                                }
                            }

                        });

                        $('.page-content-bg').click(function (event) {
                            $('.left-nav .open').click();
                            $('.left-nav i').css('font-size', '18px');
                            $('.left-nav').animate({ width: '60px' }, 100);
                            $('.left-nav cite,.left-nav .nav_right').hide();
                            $('.page-content').animate({ left: '60px' }, 100);
                            $(this).hide();
                        });



                        $('.page-content,#tab_show,.container,.left-nav').click(function (event) {
                            $('#tab_right').hide();
                            $('#tab_show').hide();
                        });

                        // 页面加载完要做的
                        var cate_list = thar.get_cate_data();
                        for (var i in cate_list) {
                            if (cate_list[i] != null) {
                                $('.left-nav #nav li').eq(cate_list[i]).click();
                            }
                        }
                    })
                },
                open: function (title, url, w, h, full) {
                    QiFan.OP(title, url, w, h, full)
                },
                //打开菜单
                add_tab: function (title, url, is_refresh) {
                    url = url ? url : "/error.html?currtime=" + new Date().getTime();
                    var id = md5(url);//md5每个url
                    //重复点击
                    for (var i = 0; i < $('.x-iframe').length; i++) {
                        if ($('.x-iframe').eq(i).attr('tab-id') == id) {
                            element.tabChange('xbs_tab', id);
                            if (is_refresh)
                                $('.x-iframe').eq(i).attr("src", $('.x-iframe').eq(i).attr('src'));
                            return;
                        }
                    };

                    this.add_lay_tab(title, url, id);
                    this.set_data(title, url, id);
                    element.tabChange('xbs_tab', id);
                },
                add_lay_tab: function (title, url, id) {
                    element.tabAdd('xbs_tab', {
                        title: title
                        , content: '<iframe tab-id="' + id + '" frameborder="0" src="' + url + '" scrolling="yes" class="x-iframe"></iframe>'
                        , id: id
                    })
                },
                // [set_data 增加某一项]
                // * @param {[type]} id [description]

                set_data: function (title, url, id) {
                    if (typeof is_remember != "undefined")
                        return false;

                    layui.data('tab_list', {
                        key: id
                        , value: { title: title, url: url }
                    });
                },
                // [del_data 删除某一项]
                del_data: function (id) {
                    if (typeof is_remember != "undefined")
                        return false;
                    if (typeof id != "undefined") {
                        layui.data('tab_list', {
                            key: id
                            , remove: true
                        });
                    } else {
                        layui.data('tab_list', null);
                    }
                },
                // [get_data 获取所有项]
                get_data: function () {
                    if (typeof is_remember != "undefined")
                        return false;
                    return layui.data('tab_list')
                },
                add_lay_tab: function (title, url, id) {
                    element.tabAdd('xbs_tab', {
                        title: title
                        , content: '<iframe tab-id="' + id + '" frameborder="0" src="' + url + '" scrolling="yes" class="x-iframe"></iframe>'
                        , id: id
                    })
                },
                // * [set_data 增加某一项]
                set_cate_data: function (data) {
                    if (typeof is_remember != "undefined")
                        return false;
                    layui.data('cate', data);
                },
                // * [set_data 获取某一项]
                get_cate_data: function () {
                    if (typeof is_remember != "undefined")
                        return false;
                    return layui.data('cate')
                }
            },
        })
    </script>
    <!-- 右侧主体结束 -->
</body>

</html>